<body class="jv-background">
  <div class="row text-center menu">
    <a href="/patrons" class="btn btn-primary btn-lg" role="button">Patron Login</a>
    <a href="/patrons/new" class="btn btn-default btn-lg" role="button">Become a Patron</a>
  </div>
</body>

<audio src="/song.mp3" loop autoplay>

</audio>
