<h1><%= @patron[0].name() %></h1>

<p class="lead">Browse Our Premium Collections</p>

<a class="btn btn-default btn-md" href="/books/authors">Browse by Author</a>

<a class="btn btn-default btn-md" href="/books/genres">Browse by Genre</a>

<a class="btn btn-default btn-md" href="/books/publication_year">Browse by Publication Year</a>
