<div class="container-fluid">
  <h2>Become a Patron</h2>

  <form action="/patrons" method="post">
    <div class="form-group jv-form">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="e.g. Maximus Aurelius Julius Augustus Caesar">
    </div>

    <button type="submit" class="btn btn-primary btn-md">Join</button>
  </form>
</div>
